.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Fraunces", serif;
  src: url(../fonts/Fraunces9pt-Black.woff2) format("woff2"), url(../fonts/Fraunces9pt-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fraunces", serif;
  src: url(../fonts/Fraunces9pt-Black.woff2) format("woff2"), url(../fonts/Fraunces9pt-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../fonts/Barlow-Bold.woff2) format("woff2"), url(../fonts/Barlow-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../fonts/Barlow-Regular.woff2) format("woff2"), url(../fonts/Barlow-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../fonts/Barlow-Bold.woff2) format("woff2"), url(../fonts/Barlow-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../fonts/Barlow-Regular.woff2) format("woff2"), url(../fonts/Barlow-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 44px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.nav__list__item > a {
  color: #83888f;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__list__item > a:hover {
  color: #333d4b;
}

.hamburger-btn {
  display: none;
}

.hero__wrapper {
  padding: 117px 85px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.hero-title {
  max-width: 493px;
  color: #fefcf7;
  font-family: "Fraunces", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}

.hero-text {
  max-width: 445px;
  margin-top: 32px;
  color: rgba(254, 252, 247, 0.8);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.hero-btn {
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  border-radius: 6px;
  padding: 15px 31px;
  background: #0e8784;
  border: 0;
  margin-top: 56px;
}

.hero-btn:hover {
  background: #66d2cf;
}

.sorts {
  margin-top: 116px;
}

.sorts__wrapper {
  padding: 100px 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 28px;
  background-image: url(../../img/our-collection.svg);
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: 50% calc(50% - 229px);
}

.sorts__block {
  text-align: center;
}

.sorts-name {
  color: #333d4b;
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin-top: 71px;
}

.sorts-text {
  max-width: 255px;
  color: #333d4b;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 25px;
}

/* Benefits */
.benefits {
  margin-top: 246px;
}

.benefits__wrapper {
  border-radius: 10px;
  background: #2c343e;
  padding: 100px 85px 60px 85px;
}

.benefits__title {
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces 9pt";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.benefits__text {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 32px;
  color: #FEFCF7;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
}

.benefits__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 28px;
  margin-top: 86px;
}

.benefits__block {
  border-radius: 8px;
  background: #0e8784;
  text-align: center;
  padding: 72px 48px 48px 48px;
}

.benefits__block:hover {
  background: #0a6260;
}

.benefits__block-title {
  margin-top: 56px;
  color: #fefcf7;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.benefits__block-text {
  max-width: 255px;
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.steps {
  margin-top: 140px;
}

.steps__title {
  color: #83888f;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.steps__shape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  height: 1px;
  transform: rotate(-0.023deg);
  flex-shrink: 0;
  background-color: #fdd6ba;
  margin-top: 80px;
}

.steps-circle {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border: 2px solid #0e8784;
  background-color: #fefcf7;
  border-radius: 50%;
}

.steps__content {
  margin-top: 68px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 115px;
}

.steps__block {
  margin-bottom: 25px;
}

.steps__block-num {
  color: #fdd6ba;
  font-family: "Fraunces 9pt";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}

.steps__block-title {
  max-width: 260px;
  color: #333d4b;
  font-family: "Fraunces 9pt";
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  margin-top: 38px;
}

.steps__block-text {
  max-width: 345px;
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 42px;
}

.steps__btn {
  border-radius: 6px;
  background: #0e8784;
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces 9pt";
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  border: 0;
  padding: 15px 31px;
  margin-top: 60px;
}

.steps__btn:hover {
  background: #66d2cf;
}

.footer {
  background: #2c343e;
  margin-top: 203px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 85px;
}

.footer__block {
  display: flex;
  align-items: center;
  gap: 0 103px;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  gap: 0 33px;
}

.footer__nav__list-item > a {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__nav__list-item > a:hover {
  color: #fefcf7;
}

.footer__link {
  display: flex;
  gap: 0 10px;
}

.footer__link > a {
  color: #fefcf7;
  font-size: 20px;
}

.footer__link > a:hover {
  color: rgb(225, 130, 130);
}

.commitment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 168px 0;
}

.commitment__content {
  width: 540px;
}

.commitment__content-title {
  color: #333D4B;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.commitment__content-text {
  color: #333D4B;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
}

.quality {
  padding: 80px 0 168px;
  position: relative;
}

.quality-img {
  max-width: 413px;
  max-height: 431px;
  position: absolute;
  right: 147px;
  top: 0;
  background: none;
  border-radius: 10px;
}

.quality-content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 147px 0 0;
  max-width: 1200px;
  padding: 95px 0 142px 85px;
  border-radius: 10px;
  background: #2c343e;
}

.quality-content {
  max-width: 540px;
}

.quality-title {
  color: #fefcf7;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.quality-text {
  color: #fefcf7;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.headquarters {
  text-align: start;
  width: 1045px;
  margin-left: 85px;
  margin-bottom: 178px;
}

.headquarters__title {
  color: #83888f;
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-bottom: 72px;
}

.headquarters__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headquarters__card {
  width: 285px;
  height: 261px;
}

.headquarters__card-content {
  margin-top: 45px;
}

.headquarters__card-title {
  color: #333d4b;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}

.headquarters__card-item {
  color: #333d4b;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 689px;
  }
  .hero__wrapper {
    padding: 104px 58px;
    background-image: url("../img/hero-media-bg.png");
  }
  .hero-title {
    max-width: 329px;
    font-size: 48px;
    line-height: 48px;
  }
  .sorts {
    margin-top: 205px;
  }
  .sorts__wrapper {
    padding: 0 58px;
    gap: 32px 0;
  }
  .sorts__block {
    display: flex;
    justify-content: center;
    gap: 0 35px;
  }
  .sorts-name {
    text-align: start;
  }
  .sorts-text {
    max-width: 282px;
    text-align: start;
    margin-top: 24px;
  }
  .benefits {
    margin-top: 144px;
  }
  .benefits__wrapper {
    padding: 56px 58px 70px 58px;
  }
  .benefits__content {
    gap: 24px 0;
    margin-top: 70px;
  }
  .benefits__title {
    font-size: 32px;
  }
  .benefits__block {
    display: flex;
    align-items: center;
    gap: 0 55px;
    padding: 41px 48px 41px 70px;
  }
  .benefits__block-title {
    text-align: start;
  }
  .benefits__block-text {
    max-width: 344px;
    text-align: start;
    margin-top: 16px;
  }
  .steps {
    margin-top: 74px;
  }
  .steps__content {
    align-items: center;
    gap: 0 10px;
    padding-bottom: 0;
  }
  .steps__block-title {
    max-width: 223px;
    font-size: 28px;
    line-height: 36px;
    margin-top: 42px;
  }
  .steps__block-text {
    font-size: 15px;
    line-height: 25px;
    max-width: 223px;
    margin-top: 38px;
  }
  .footer {
    margin-top: 160px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px 0;
  }
  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
  }
  .footer__link {
    gap: 0 30px;
  }
  .footer__link > a {
    display: block;
    font-size: 30px;
  }
  .intro {
    background-position: center;
  }
  .intro__wrapper {
    width: 398px;
  }
  .intro__title {
    color: 32px;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
  .intro__text {
    color: 15px;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
  }
  .commitment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 144px 0 153px;
  }
  .commitment__content {
    width: 339px;
  }
  .commitment__content-title {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
  .commitment__content-text {
    color: #333D4B;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.8;
  }
  .quality {
    padding: 80px 0 150px;
    position: relative;
  }
  .quality-img {
    max-width: 545px;
    max-height: 431px;
    position: absolute;
    left: 50px;
    right: 0;
    top: -78px;
    background: none;
    border-radius: 10px;
  }
  .quality-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 688px;
    padding: 180px 57.5px 50px;
    border-radius: 10px;
    background: #2c343e;
  }
  .quality-content {
    max-width: 540px;
    text-align: center;
  }
  .quality-title {
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 150% */
  }
  .quality-text {
    color: #FEFCF7;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    opacity: 0.8;
  }
  .headquarters {
    text-align: start;
    width: 688px;
    margin-bottom: 144px;
  }
  .headquarters__title {
    color: #83888f;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-bottom: 72px;
  }
  .headquarters__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .headquarters__card {
    width: 222px;
    height: 262px;
  }
  .headquarters__card-content {
    margin-top: 48px;
  }
  .headquarters__card-title {
    color: #333d4b;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 21px;
  }
  .headquarters__card-item {
    color: #333d4b;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
}
@media screen and (max-width: 375px) {
  .nav {
    display: none;
  }
  .hamburger-btn {
    display: block;
    border: 0;
    background-color: transparent;
  }
  .logo img {
    width: 162px;
  }
  .hero__wrapper {
    padding: 100px 24px;
    background-image: url("../img/hero-bg-mob.png");
    text-align: center;
  }
  .hero-title {
    max-width: 279px;
    font-size: 40px;
    line-height: 40px;
  }
  .hero-text {
    max-width: 279px;
  }
  .sorts__wrapper {
    padding: 0 22px;
    gap: 48px 0;
  }
  .sorts__block {
    display: block;
  }
  .sorts-img {
    width: 200px;
  }
  .sorts-name {
    text-align: center;
    margin-top: 24px;
  }
  .sorts-text {
    max-width: 282px;
    text-align: center;
    margin-top: 16px;
  }
  .benefits {
    margin-top: 120px;
  }
  .benefits__wrapper {
    padding: 64px 24px 53px 24px;
  }
  .benefits__content {
    gap: 24px 0;
    margin-top: 64px;
  }
  .benefits__title {
    font-size: 28px;
    line-height: 28px;
  }
  .benefits__text {
    max-width: 279px;
  }
  .benefits__block {
    display: block;
    gap: 0 55px;
    padding: 72px 33.5px 51px 33.5px;
  }
  .benefits__block-title {
    text-align: center;
    margin-top: 56px;
  }
  .benefits__block-text {
    max-width: 223px;
    margin-top: 24px;
  }
  .steps {
    margin-top: 67px;
  }
  .steps__title {
    text-align: center;
  }
  .steps__shape {
    display: none;
  }
  .steps__content {
    margin-top: 80px;
    justify-content: center;
    gap: 56px 0;
  }
  .steps__block-num {
    text-align: center;
    gap: 24px 0;
  }
  .steps__block-title {
    max-width: 327px;
    line-height: 32px;
    text-align: center;
  }
  .steps__block-text {
    max-width: 327px;
    text-align: center;
  }
  .steps__btn {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
  }
  .footer {
    margin-top: 120px;
  }
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0;
  }
  .intro {
    background-image: none;
    background-image: url("../img/intro-mob-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 111px 24px 87px;
    border-radius: 10px;
    text-align: center;
  }
  .intro__wrapper {
    width: 279px;
    text-align: center;
  }
  .intro__title-wrapper {
    display: inline;
    margin: 0 auto;
    text-align: center;
  }
  .intro__title {
    color: 28px;
    font-family: "Fraunces", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .intro__text {
    color: 15px;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .commitment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 120px 0;
  }
  .commitment__content {
    max-width: 327px;
    text-align: center;
  }
  .commitment__content-title {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin: 48px 0 30px;
  }
  .commitment__content-text {
    color: #333D4B;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.8;
  }
  .quality {
    max-width: 375px;
    padding: 120px 0;
    position: relative;
  }
  .quality-img {
    max-width: 100%;
    max-height: 431px;
    position: absolute;
    right: 0px;
    left: 0;
    top: 0;
    background: none;
    border-radius: 10px;
  }
  .quality-content-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 360px;
    padding: 95px 20px 50px;
    border-radius: 10px;
    background: #2c343e;
  }
  .quality-content {
    max-width: 200px;
    text-align: center;
  }
  .quality-title {
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px; /* 100% */
  }
  .quality-text {
    color: #FEFCF7;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    opacity: 0.8;
  }
  .headquarters {
    display: flex;
    width: 350px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;
    margin-left: 1px;
  }
  .headquarters__title {
    color: #83888f;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-bottom: 72px;
  }
  .headquarters__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .headquarters__card {
    width: 285px;
    height: 261px;
  }
  .headquarters__card-content {
    margin-top: 45px;
  }
  .headquarters__card-title {
    color: #333d4b;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 21px;
  }
  .headquarters__card-item {
    color: #333d4b;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
}
.intro {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("../img/intro-tablet-bg.jpg"), url("../img/Intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: 0, cover;
  background-position: center;
  padding: 137px 0 137px 85px;
  border-radius: 10px;
}

.intro__wrapper {
  width: 445px;
}

.intro__title {
  color: #fefcf7;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 24px;
}

.intro__text {
  color: #fefcf7;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}/*# sourceMappingURL=main.css.map */