@import "../mixin";

.headquarters {
  text-align: start;
  width: 1045px;
  margin-left: 85px;
  margin-bottom: 178px;
}
.headquarters__title {
  color: #83888f;
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-bottom: 72px;
}
.headquarters__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headquarters__card {
  width: 285px;
  height: 261px;
}
.headquarters__card-content {
  margin-top: 45px;
}
.headquarters__card-title {
  color: #333d4b;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}
.headquarters__card-item {
  color: #333d4b;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
